.main-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0;
}

.address__header,
.address__upper,
.address__med {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address__item {
  font-size: 12px;
}

.address__med {
  color: var(--color-med);
  align-items: center;
}

.address-user {
  display: flex;
  gap: 4px;
  align-items: center;
}
.address__name {
  font-size: 16px;
  font-weight: 700;
}

.address__lower {
  margin-top: 4px;
}

.badge__default-address {
  display: inline-block;
  padding: 4px;
  /* color: var(--color-warning); */
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: var(--base-border-radius);
  font-weight: 700;
}

/* BUTTONS */
.edit-btn,
.delete-btn,
.add-btn,
.default-btn {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;

  &:hover {
    color: var(--color-primary-dark);
  }
}

/* MODAL */
.vex {
  display: grid;
  place-items: center;
}
.vex-content {
  min-width: 50vw;
  padding: 40px;
  border-radius: var(--base-border-radius);
}

.vex-dialog-message {
  margin-bottom: 24px;
  font-weight: 700;
}

.vex-dialog-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.postcode-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
}
.vex-dialog-button-primary.vex-dialog-button {
  border: none;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.vex-last.vex-dialog-button,
.post-btn {
  background-color: var(--color-white);
  color: inherit;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-med);
  text-wrap: nowrap;
}
.vex-dialog-form {
  & button[type="submit"] {
    border: none;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
  }

  & input {
    font-size: 12px;
    color: inherit;
    border-radius: 8px;
    border: none;
    padding: 8px;

    background-color: var(--color-light);
    border-radius: 8px;

    &:focus {
      outline: 1px solid var(--color-med);
    }

    &::placeholder {
      color: var(--color-med);
      font-size: 12px;
    }
  }
}

.form__join--submit-btn {
  grid-column: span 2;
}

.vex-dialog-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: end;
  gap: 8px;
}
