.cart__table {
  width: 100%;
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  margin: 48px 0 8px 0;

  & tr {
    border-top: 1px solid var(--color-med);
    &:last-child {
      border-bottom: 1px solid var(--color-med);
    }
  }
  & .checkbox-td {
    padding: 24px;
  }
  & tbody td {
    padding: 16px 0;
  }
}
.cart__table--header {
  & th {
    padding: 24px 0;
  }
}

.product-details {
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: start;
}

.product-details a {
  flex-shrink: 0;
}

.product-detail__img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.cart__order-options {
  color: var(--color-med);
  font-size: 10px;
}

/* BUTTONS */
.del-sel-button,
.del-btn {
  font-size: 12px;
  background-color: var(--color-white);
  padding: 8px 16px;
  border: 1px solid var(--color-dark);
  border-radius: var(--base-border-radius);
  cursor: pointer;
}

.order-btn-container {
  margin: 8px 0;
}

.order-btn {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--color-dark);
  font-weight: 700;
  color: var(--color-white);
  border: 1px solid var(--color-dark);
  border-radius: var(--base-border-radius);
  cursor: pointer;
}
