@charset "UTF-8";

.details__text,
.details__imgs,
.details__review,
.details__inquiry {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 8px;
}

.details__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-self: center;
}

.details__inquiry {
  gap: 24px;
}

.details__text--upper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details__text--lower {
  margin-top: 16px;
}

.text__delivery {
  padding-bottom: 8px;
}

.text__name {
  font-size: 32px;
}

.text__price {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}

.text__review {
  display: flex;
}

/* ACTIONS */

.details__action {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  /* text-wrap: nowrap; */
}
.details__action--items {
  display: flex;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
}
.details__action--buttons {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  text-wrap: nowrap;
  gap: 4px;
}

.details__action--options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.option-select {
  color: var(--font-color);
}

.item-quantity {
  width: 32px;
  height: 24px;
  text-align: center;
  margin-left: auto;
}

.item-price-close-container {
  margin-left: auto;
}

/* BUTTONS */
.details__action--buttons {
  & button:hover {
    cursor: pointer;
  }
}

.buy-btn {
  border: none;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  border-radius: var(--base-border-radius);
  padding: 8px;
}

.fav-btn,
.cart-btn {
  border: 1px solid var(--color-med);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  & svg {
    & path {
      fill: var(--color-med);
    }
  }
}

.fav-btn:hover,
.cart-btn:hover {
  background-color: var(--color-med);
  & path {
    fill: var(--color-white);
  }
}

.fav-btn:active,
.cart-btn:active {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  & path {
    fill: var(--color-white);
  }
}

/* REVIEW SECTION */
.review__item {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.details__review {
  gap: 40px;
}

.review__star {
  padding-right: 4px;
}

.details__imgs {
  width: 100%;
  object-fit: cover;
}

.upper__div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.upper__div--text {
  display: flex;
  gap: 8px;
}

.review__item--mid {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 4px;
}

.review__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.img-div__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  color: var(--color-med);
  border-radius: var(--base-border-radius);
}

/* ACCORDION */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid var(--color-med);
  background-color: var(--color-med);
}

.ui-widget-content {
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
}

.ui-accordion .ui-accordion-header {
  display: flex;
}

.ui-accordion .ui-accordion-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion__answer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.accordion__answer--seller {
  text-wrap: nowrap;
  font-weight: 700;
}
.accordion__answer--date {
  margin-left: auto;
}

.inquiry__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
}

.inquiry-title {
  font-weight: 700;
}

.inquiry-info {
  display: flex;
  gap: 16px;
}

.inquiry-controls {
  display: flex;
  gap: 8px;
  justify-content: end;
}

/* MODAL */

.privateYn-label {
  font-weight: 700;
}

.radio-outer-container {
  display: flex;
  gap: 24px;
}

.radio-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* BUTTONS */
.edit-btn,
.delete-btn {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;

  &:hover {
    color: var(--color-primary-dark);
  }
}

.add-btn {
  background-color: var(--color-white);
  color: inherit;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-med);
  text-wrap: nowrap;
}
