@charset "UTF-8";

.main-settings {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0 40px 0;
}

.settings__upper,
.settings__lower {
  display: flex;
  flex-direction: column;
}

.settings__upper {
  align-items: center;
}

.settings__name {
  font-size: 12px;
}

.settings__email {
  font-weight: 700;
  font-size: 16px;
}

.settings__phone {
  font-size: 10px;
  color: var(--color-med);
}

.settings__link {
  padding: 8px 16px;
  color: inherit;
  border-top: 1px solid var(--color-med);
  text-decoration: none;
  width: 60%;
  margin: 0 auto;
  min-width: 360px;
  font-weight: 700;
  font-size: 12px;

  &:last-child {
    border-bottom: 1px solid var(--color-med);
  }
}
