.seller__container {
  display: flex;
  flex-direction: column;
}

.seller__item {
  padding: 16px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  border-bottom: 1px solid var(--color-med);

  &:first-child {
    border-top: 1px solid var(--color-med);
  }
  &:hover {
    background-color: var(--color-light);
  }

  &:link,
  &:visited {
    color: inherit;
  }
}

.seller__item--container {
  display: flex;
  flex-direction: column;
}

.seller-info {
  font-size: 8px;
  font-weight: 400;
}
