<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

	<update id="editReview">
		UPDATE REVIEW
		SET
		RATING = #{rating},
		CONTENT = #{content},
		EDITED_DATE = SYSDATE
		WHERE REVIEW_NO = #{reviewNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="deleteReview">
		UPDATE REVIEW
		SET DELETED_YN = 'Y',
		EDITED_DATE = SYSDATE
		WHERE REVIEW_NO = #{reviewNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	
	<insert id="insertReview">
		INSERT INTO REVIEW (REVIEW_NO, MEMBER_NO, PRODUCT_NO, ORDERS_NO, RATING, CONTENT, CREATED_DATE) 
		VALUES (SEQ_REVIEW.NEXTVAL, ${memberNo}, ${productNo}, ${ordersNo}, ${rating}, #{content}, SYSDATE)
	</insert>
</mapper>
