.shipping-info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.shipping-info > span {
  flex: 0 0 150px;
  font-weight: 700;
}

.shipping-info__select,
.shipping-info__contact,
.shipping-info__address,
.shipping-info__requirements {
  flex: 1;
}

.order__shipping {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.shipping-info__select {
  display: flex;
  gap: 16px;
}

.address-radio-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
