.main-order {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading {
  font-size: 24px;
}

/* SHIPPING */
.shipping-info,
.payment-info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.shipping-info > span,
.payment-info > span {
  flex: 0 0 150px;
  font-weight: 700;
}

.shipping-info__select,
.shipping-info__contact,
.shipping-info__address,
.shipping-info__requirements,
.payment-info__contact {
  flex: 1;
}

.order__shipping {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.shipping-info__select {
  display: flex;
  gap: 16px;
}

.address-radio-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

/* TABLE */
.cart__table {
  width: 100%;
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  margin: 8px 0 8px 0;

  & tr {
    border-top: 1px solid var(--color-med);
    &:last-child {
      border-bottom: 1px solid var(--color-med);
    }
  }
  & .checkbox-td {
    padding: 24px;
  }
  & tbody td,
  & tfoot td {
    padding: 16px 0;
  }
}
.cart__table--header {
  & th {
    padding: 24px 0;
  }
}

.product-details {
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: start;
}

.product-details a {
  flex-shrink: 0;
}

.product-detail__img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.cart__order-options {
  color: var(--color-med);
  font-size: 10px;
}

/* PAYMENT */

.payment-info__method {
  display: flex;
  gap: 16px;
}

#pay-btn {
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 8px;
  margin-top: 24px;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  font-weight: 700;
  border-radius: var(--base-border-radius);
}

.order__shipping,
.order__payment {
  border: 1px solid var(--color-med);
  border-radius: var(--base-border-radius);
  padding: 16px;
}

.payment-info__method img {
  max-height: 16px;
  width: auto;
}

.payment-info__method label {
  display: flex;
  align-items: center;
  gap: 4px;
}
