.main-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 16px;

  & h1 {
    font-size: 32px;
  }

  & a {
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}
