@charset "UTF-8";

:root {
  --bp-lg: 1044px;
  --bp-md: 650px;
  --bp-sm: 400px;

  --font-family: "Noto Sans KR", sans-serif;
  --font-color: #333333;
}

html {
  font-family: var(--font-family);
  color: var(--font-color);
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  display: grid;
  /* DESKTOP VIEW */
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content;
  /* TODO: grid-template-rows */
  margin: 0 auto;
  gap: 24px;

  min-height: 100vh;
  max-width: 720px;
}
