@charset "UTF-8";

/* COMPONENTS */

/* CSS 리셋 */
@import url("./reset.css");

/* NAV */
@import url("./nav.css");

/* NAV-MINI */
@import url("./nav-mini.css");

/* 푸터 */
@import url("./footer.css");

:root {
  --bp-lg: 1044px;
  --bp-md: 650px;
  --bp-sm: 400px;

  --font-family: "Noto Sans KR", sans-serif;
  --font-color: #333333;

  --color-white: #fff;
  --color-light: #f5f5f5;
  --color-med: #9f9f9f;
  --color-dark: #333333;

  --color-primary: #226ce0;
  --color-primary-dark: #184c9d; /* 30% shade */
  --color-warning: #d81159;

  --base-border-radius: 4px;
}

html {
  font-family: var(--font-family);
  color: var(--font-color);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: grid;
  /* DESKTOP VIEW */
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  gap: 24px;

  min-height: 100vh;
  max-width: 896px;
}

/* GRID 그리드 레이아웃 */
.nav {
  grid-column: 2 / 8;
}

.main {
  grid-row: 2;
  grid-column: 2 / 8;
}

.main-login,
.main-join {
  grid-column: 3 / 7;
}

.footer {
  grid-row: 3;
  grid-column: 2 / 8;
}
