<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
	<insert id="addToCart">
		INSERT ALL
		<foreach collection="list" item="vo" separator=" ">
			INTO CART(CART_NO, MEMBER_NO, INVENTORY_NO, QUANTITY)
			VALUES ((SELECT FN_GET_CART_SEQ_NEXTVAL FROM DUAL), #{vo.memberNo}, #{vo.inventoryNo}, #{vo.quantity})				
		</foreach>
		SELECT * FROM DUAL
	</insert>

	<select id="getCartItems" resultType="CartHomeDto">
		SELECT ROWNUM, X.*
		FROM (SELECT 
		    C.CART_NO
		    , I.PRODUCT_NO
		    , P.NAME PRODUCT_NAME
		    , I.INVENTORY_NO
		    , C.COLOR_NO
		    , C.NAME COLOR_NAME
		    , PS.SIZE_NO
		    , PS.NAME SIZE_NAME
		    , TRIM(TO_CHAR(P.PRICE, '999,999,999')) PRICE
		    , TRIM(TO_CHAR(ROUND(P.PRICE * C.QUANTITY), '999,999,999')) ORDER_PRICE
		    , PI.FILENAME THUMBNAIL_FILENAME
		    , C.QUANTITY ORDER_QUANTITY
		    , I.QUANTITY INVENTORY_QUANTITY
		    , C.CREATED_DATE
		    , C.MEMBER_NO
		    , S.NAME SELLER_NAME
		FROM CART C
		JOIN INVENTORY I ON C.INVENTORY_NO = I.INVENTORY_NO
		JOIN PRODUCT P ON I.PRODUCT_NO = P.PRODUCT_NO
		JOIN COLOR C ON I.COLOR_NO = C.COLOR_NO
		JOIN PRODUCT_SIZE PS ON I.SIZE_NO = PS.SIZE_NO
		JOIN PRODUCT_IMG PI ON P.PRODUCT_NO = PI.PRODUCT_NO AND PI.THUMBNAIL_YN = 'Y'
		JOIN SELLER S ON P.SELLER_NO = S.SELLER_NO
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY C.CREATED_DATE DESC) X
	</select>

	<delete id="deleteCartItem">
		DELETE FROM CART
		WHERE MEMBER_NO = ${memberNo}
		AND CART_NO = ${cartNo}
	</delete>
	
	<delete id="deleteCartItems">
		DELETE FROM CART
		<foreach collection="array" item="no" separator="," open="WHERE CART_NO IN (" close=")">
			#{no}
		</foreach>
	</delete>
	
	<delete id="deleteCartByMemberNo">
		DELETE FROM CART
		WHERE MEMBER_NO = ${memberNo}
	</delete>

</mapper>
