<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">

	<resultMap type="CategoryVo" id="CategoryVoMap">
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="name" column="NAME" />
	</resultMap>

	<select id="selectCategory" resultMap="CategoryVoMap">
		SELECT CATEGORY_NO, NAME
		FROM CATEGORY
		ORDER BY CATEGORY_NO
	</select>


</mapper>
