<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FavoriteMapper">

	<select id="isFavorite" resultType="int">
		SELECT COUNT(*)
		FROM FAVORITE
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</select>
	
	<delete id="removeFavorite">
		DELETE FROM FAVORITE
		WHERE MEMBER_NO = #{memberNo}
		AND PRODUCT_NO = #{productNo}
	</delete>
	
	<insert id="addFavorite">
		INSERT INTO FAVORITE(FAVORITE_NO, MEMBER_NO, PRODUCT_NO) 
		VALUES(SEQ_FAVORITE.NEXTVAL, #{memberNo}, #{productNo})
	</insert>
</mapper>
