<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderDetailMapper">
	<insert id="insertIntoOrderDetail">
		INSERT ALL
		<foreach collection="productDetails" item="detail">
			INTO ORDER_DETAIL (ORDER_DETAIL_NO, ORDERS_NO, PRODUCT_NO, INVENTORY_NO,
			QUANTITY)
			VALUES ((SELECT FN_GET_ORDER_DETAIL_SEQ_NEXTVAL FROM DUAL), ${ordersNo}, ${detail.productNo},
			${detail.inventoryNo}, ${detail.quantity})
		</foreach>
		SELECT 1 FROM DUAL
	</insert>


</mapper>
