<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
	<resultMap type="SellerVo" id="SellerVoMap">
		<result property="sellerNo" column="SELLER_NO" />
		<result property="accName" column="ACC_NAME" />
		<result property="pwd" column="PWD" />
		<result property="name" column="NAME" />
		<result property="deletedYn" column="DELETED_YN" />
		<result property="createdDate" column="CREATED_DATE" />
		<result property="bannerImg" column="BANNER_IMG" />
		<result property="info" column="INFO" />
		<result property="shippingInfo" column="SHIPPING_INFO" />
	</resultMap>
	
	<select id="selectStore" resultMap="SellerVoMap">
		SELECT SELLER_NO, NAME, INFO
		FROM SELLER
		WHERE DELETED_YN = 'N'
	</select>

</mapper>
